<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Peliculas" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "script", crossorigin: "anonymous" %>


    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css', media: 'all', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>

    <div class="container">
      
      <div class="mb-3 espacio_superior">
        <%= link_to "Películas", movies_path, class: "button is-primary is-rounded" %>
        <%= link_to "Series", films_path, class: "button is-link is-rounded" %>
        <%= link_to "Documentales", documentaries_path, class: "button is-success is-rounded" %>
      </div>

      <% if flash[:notice] %>
        <div class="notification is-link is-light">
          <button class="delete"></button>
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>

    </div>

  </body>
</html>
